/*  typography */

@import 'templates/fonts';

body {
  line-height: 1.2;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 400;
  color: $text-color;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: $secondary-font;
  @include desktop {
    font-size: 1.1rem;
  }
  &-lg{
    font-size: 22px;
  }
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $primary-font;
  line-height: 1.2;
  font-weight: 700;
}

h1, .h1{
  font-size: 80px;
  @include desktop {
    font-size: 45px;
  }
}

h2, .h2{
  font-size: 40px;
  margin-bottom: 1em;
  @include desktop {
    font-size: 32px;
  }
}

h3, .h3{
  font-size: 40px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 14px;
}

.page-layout {  //set smaller font sizes for headings only on "layout: page" (like imprint etc.)

  h1, .h1{
    font-size: 40px;
  }
  
  h2, .h2{
    font-size: 32px;
  }
  
  h3, .h3{
    font-size: 22px;
  }
  
  h4, .h4{
    font-size: 18px;
  }
  
  h5, .h5{
    font-size: 14px;
  }
}